<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>Unit Identifier Generator</title>
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static user_stylesheet %}/style.css" type="text/css" media="screen" />
	</head>
	<body>

		<h5>Submit a Request</h5>
		<p>Success!  Your logos have been successfully generated.  Click the link below to download your files.</p>
		<p><a href="../">&laquo; Back to logo generator</a></p>		

	</body>
</html>