<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>Unit Identifier Generator</title>
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static user_stylesheet %}/style.css" type="text/css" media="screen" />
	</head>
	<body>

		<h5>Submit a Request</h5>
		<p>Logo request may take up to two weeks to fill. For more urgent requests, please contact us. For unit logo requests, please fill out the form below completely. For standard UCF logos files please see the trademark downloads on this page.</p>

		<div id="uid_preview_wrap">
			<div class="uid_preview preview_active" id="uid_img">
				<div id="uid_text" class="textfill">
					<span></span>
				</div>
			</div>
			<div class="uid_preview" id="muid_img">
				<div id="muid_text" class="textfill">
					<span></span>
				</div>
			</div>
			<div class="uid_preview" id="vuid_img">
				<div id="vuid_text" class="textfill">
					<span></span>
				</div>
			</div>
		</div>
		
		<p><a class="previewlink" id="previewlink_uid" href="#">UID</a> | <a class="previewlink" id="previewlink_muid" href="#">MUID</a> | <a class="previewlink" id="previewlink_vuid" href="#">Vertical UID</a></p>
		
		<form action="/" method="post">
			{% csrf_token %}
			{{ form }}
			<!--
			<label for="name">Requested Unit Name</label>
			<input id="name" class="textinput" type="text" size="25" name="name" value="{{ name }}" placeholder="Dept Name Here">
	
			<label for="requested_by">Requested by</label>
			<input id="requested_by" class="textinput" type="text" size="25" name="requested_by" value="{{ requested_by }}">
	
			<label for="phone">Phone Number</label>
			<input id="phone" class="textinput" type="text" size="25" name="phone" value="{{ phone }}">
	
			<label for="email">E-mail</label>
			<input id="email" class="textinput" type="text" size="25" name="email" value="{{ email }}">
	
			<label for="department">Department/College</label>
			<input id="department" class="textinput" type="text" size="25" name="department" value="{{ department }}">
	
			<label for="logo_type">Type of logo</label>
			<input id="UnitID" type="checkbox" value="UID" name="logo_type">
			Unit Identifier (UID)
			<input id="Monogram" type="checkbox" value="MUID" name="logo_type">
			Monogram Unit Identifier
			<input id="VertMonoID" type="checkbox" value="VUID" name="logo_type">
			Vertical Monogram UID-->
			<input type="submit" value="Submit" />
		</form>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
		<script type="text/javascript" src="{% static user_stylesheet %}/js/jquery.textfill.min.js"></script>
		<script type="text/javascript" src="{% static user_stylesheet %}/js/script.js"></script>
		<script type="text/javascript">
		$(document).ready(function(){
	
			/* Switch in/out logo previews */

			$('#previewlink_uid').click(function() {
				// Remove active class from current active preview div and fade out:
				$('.preview_active').hide().removeClass('preview_active');
				// Fade in new active preview div
				$('#uid_img').fadeIn().addClass('preview_active');
			})
			$('#previewlink_muid').click(function() {
				$('.preview_active').hide().removeClass('preview_active');
				$('#muid_img').fadeIn().addClass('preview_active');
			})
			$('#previewlink_vuid').click(function() {
				$('.preview_active').hide().removeClass('preview_active');
				$('#vuid_img').fadeIn().addClass('preview_active');
			})

			/* Default dept. name */
			if (!($('#name').text())) {
				$('.textfill').text('Dept Name Here');
			}

			/* Textfill */

			$('#uid_text span').textfill({ maxFontPixels: 10 });
		    $('#muid_text span').textfill({ maxFontPixels: 16 });
		    $('#vuid_text span').textfill({ maxFontPixels: 36 });

		    $('#name').keyup(function() {
		    	$('.textfill').html(this.value);
		    	$('#uid_text span').textfill({ maxFontPixels: 10 });
		    	$('#muid_text span').textfill({ maxFontPixels: 16 });
		    	$('#vuid_text span').textfill({ maxFontPixels: 36 });
		    });

		})
		

		</script>

	</body>
</html>