/**
  * Americana Import
  **/
@font-face {
    font-family: 'AmericanaBold';
    src: url('fonts/ameribol-webfont.eot');
    src: url('fonts/ameribol-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ameribol-webfont.woff') format('woff'),
         url('fonts/ameribol-webfont.ttf') format('truetype'),
         url('fonts/ameribol-webfont.svg#AmericanaBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/**
  * Site styles: 
  **/

body {
	width: 100%;
}

body, td, th, label, h5 {
    /*font-family: Georgia,Times New Roman,Times,serif;
    font-size: 13px;
    line-height: 1.4em;*/
}

h5 {
	font-weight: bold;
}

ul.errorlist li {
	color: #f00;
	font-style: italic;
	list-style-type: none;
	margin-left: -15px;
}

label {
	display:block;
	font-weight:bold;
}

input {
	display: block;
}

input[type="submit"] {
	margin-top:10px;
}

#submit_working p {
	text-align:center;
}

form ul li {
	list-style-type: none;
	margin-left: -15px;
}
	form ul li label {
		font-weight: normal;
	}
	form ul li label input {
		float:left;
		margin-right:5px !important;
		margin-top:2px !important;
	}

#uid_preview_wrap {
	overflow: hidden;
	width: 100%;
	height: 200px;
	background: #dedede url('img/previewbg.png') repeat;
}

.uid_preview {
	width: 260px;
	height: 200px;
	font-family: 'AmericanaBold', Georgia, serif;
	/*font-variant: small-caps;*/
	text-transform: uppercase;
	letter-spacing: 1.3px;
}
	#uid_img, #muid_img, #vuid_img {
		width: 450px;
		height: 200px;
		position: relative;
		margin: auto;
	}
	#uid_img {
		background: url('img/UID-preview.png') center center no-repeat;
		display: visible; /* Default active preview */
	}
	#muid_img {
		background: url('img/MUID-preview.png') left center no-repeat;
		display: none;
	}
	#vuid_img {
		background: url('img/VMUID-preview.png') center center no-repeat;
		display: none;
	}
	#uid_text, #muid_text, #vuid_text {
		position: absolute;
		/*background: green;*/
	}
		#uid_text {
			top: 135px;
			left: 97px;
			width: 260px;
			height: 50px;
			font-size: 13px;
			line-height: 13px;
			text-align: center;
		}
		#muid_text {
			top: 91px;
			left: 141px;
			width: 310px;
			height: 27px;
			font-size: 14px;
			line-height: 13.75px;
		}
		#vuid_text {
			top: 120px;
			left: 95px;
			width: 260px;
			height: 66px;
			font-size: 36px;
			line-height: 30px;
			text-align: center;
		}
		@media screen and (-webkit-min-device-pixel-ratio: 0){
			/* Webkit margin tweaks for preview text */
			#uid_text {
				top: 137px;
			}
			#muid_text {
				top: 93px;
			}
			#vuid_text {
				top: 122px;
			}
		}

#uid_preview_toggle {
	margin: 10px auto 20px auto;
	width: 450px;
}
#uid_preview_label {
	width: 40%;
	float: left;
	padding: 5px 0;
	font-weight: bold;
	text-align: center;
}
#uid_preview_toggle .btn-group {
	width: 60%;
	float:left;
}